@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: whitesmoke;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #080808; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e91e63; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f06292; 
  }